.right{float :right;}



.container {
        display: flex;
}



.imgstyle{
  width: 100%;
  height: 60%;
  padding:10px;

  border: 1px solid rgba(128, 128, 128, 0.37);
  background-image:url(shirts/blue-front.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
}

.avatarimg{
  width:9%;
  height: 9%;
  padding: 6px ;
  border-radius:10px;


}

.navtext{

  padding-left: 400px;
  padding-top: 40px;
}

.imageposition{
  width: 100%;
  padding: 30px;
}


.article-style{
  width: 33% ;
  height: 432px;
border: 3px solid lightblue;
 margin: 20px;
 /*  padding: 20px;*/

}

.spanstyles{
flex: 1;
padding: 30px;
color: #bdbdbd;
border: 3px solid lightblue;
margin : -1px;}

.end {justify-content:flex-end; }

.rotateimg{border: 1px solid rgba(128, 128, 128, 0.37);
transform: rotateX(180deg);}

.yellowbackgroundimg{background: <img class="imgstyle" src="shirts/yellow-front.png">;}


/*<div id="triangle-left"></div>*/

#triangle-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid #602F4F;
    border-bottom: 30px solid transparent;
    float:left;
}


.containerdiv { float: left;
                position: relative; }
.recimage {display:flex ;
          flex-direction: column;
          width: 100px;
          height: 200px;
          border:2px solid rgba(128, 128, 128, 0.37);
          position: absolute;
          top:250px; right: 1078px;
          margin:0 auto;}
.recimage1 {display:flex ;
            flex-direction: column;
            opacity:0;
            width: 100px;
            height: 200px;
            border:2px solid rgba(128, 128, 128, 0.37);
           position: absolute;
                    top:250px; right: 615px;
                    margin:0 auto;}
.module {
        background:
          /*linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
          ),*/
          url("shirts/tshirt.svg");
      margin :auto;

      }


      .sizebox{margin:auto;
      padding:1px;}
      .sizes{background-image: url("shirts/tshirt.svg");
background-repeat: no-repeat;

      background-size: contain;
      text-align: center;
              margin :auto;}

      .sizebox:hover .recimage1
      {opacity:1;
      background: white;}



.recimage2 {display:flex ;
                              flex-direction: column;
                              width: 100px;
                              height: 200px;
                              border:2px solid rgba(128, 128, 128, 0.37);
                              position: absolute;
                              top:250px; right: 186px;
                              margin:0 auto;
                             }


/*.Square{display:flex ;
          flex-wrap: wrap;
          justify-content:center;
          width: 100px;
          height: 100px;
          border:2px solid rgba(128, 128, 128, 0.37);
          position: absolute;
          top:330px; right: 548px; }
*/



.Square:hover .sqimage {opacity:1;
  background:white;
}

.Square:hover .coloroptions
{opacity:1;
}

.sqimage  {display:flex ;
          flex-wrap: wrap;
          justify-content:center;
          opacity:0;
          width: 100px;
          height: 100px;
          border:2px solid rgba(128, 128, 128, 0.37);
          position: absolute;
          top:350px; right: 530px; }

/*<article style="display: flex; flex-wrap: wrap; background: red;">
            <p style="*/
.coloroptions {padding: 10px;/* style for color options*/
        opacity:0;
           width:15px ;
           height: 15px ;
           margin: 6px;
           align-items: center;
}

.pinksq{background: pink;}
.greensq{background: green;}
.bluesq{background: blue;}
.yellowsq{background: yellow;}





            /*Child Child Child Child Child Child Child Child Child</p>
            <p style="padding: 1em; flex: 1 0 33%; background: blue; color: white;">Child</p>
            <p style="padding: 1em; flex: 1 0 33%; background: green; color: white;"></p>
            <p style="padding: 1em; flex: 1 0 33%; background: blue; color: white;">Child</p>
          </article>*/
.Square{/*display: flex;*/
                  border: 2px solid rgba(128, 128, 128, 0.37);
                  padding: 10px;
                  background: rgba(3, 144, 244, 0.46);}


#rectangle {
	width: 100px;
	height: 200px;
	border:2px solid rgba(128, 128, 128, 0.37);
}


      /*  <article style="display: flex; flex-direction: column; background: red;">
          <div style="padding: 1em; background: blue; color: white;">Child</p>
          <p style="padding: 1em; background: green; color: white;">Child</p>
          <p style="padding: 1em; background: blue; color: white;">Child</p>
          <p style="padding: 1em; background: green; color: white;">Child</p>
        </article>*/
